In [1]:
from sklearn.naive_bayes import GaussianNB as GNB
from sklearn.model_selection import train_test_split as TTS
from sklearn.metrics import accuracy_score as AS
from sklearn.metrics import confusion_matrix as CM

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data=pd.read_csv("data.csv")

In [4]:
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [5]:
data.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [6]:
for i in data.columns:
    data[i]=pd.get_dummies(data[i])

In [7]:
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,0,0,0,1,1,1,1,0,0,0,...,1,0,1,0,0,0,0,0,0,1
1,0,0,0,0,0,1,1,0,0,0,...,1,0,1,0,0,0,0,0,0,1
2,0,0,0,0,1,0,1,0,0,0,...,1,0,1,0,0,0,0,0,0,1
3,0,1,0,0,1,1,1,0,0,0,...,1,0,1,0,0,0,0,0,0,1
4,0,0,0,0,1,1,0,0,0,0,...,1,0,1,0,0,0,0,0,0,1

In [8]:
X=data[['age', 'job', 'marital', 'education', 'default', 'housing', 'loan','duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx','cons.conf.idx', 'euribor3m', 'nr.employed',]]
y=data["y"]

# for Gaussian Naive Bayes

In [9]:
model=GNB()

In [10]:
X_train,X_test,y_train,y_test=TTS(X,y,random_state=100,test_size=0.15)

In [11]:
model.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [12]:
pred=model.predict(X_test)

In [13]:
AS(pred,y_test)

0.8219776662890436

# for Multinomial Naive Bayes

In [14]:
from sklearn.naive_bayes import MultinomialNB

In [15]:
model2 = MultinomialNB()

In [16]:
model2.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [17]:
pred2=model.predict(X_test)

In [18]:
AS(pred2,y_test)

0.8219776662890436

# for Bernoulli Naive Bayes

In [19]:
from sklearn.naive_bayes import BernoulliNB

In [20]:
model3 = BernoulliNB()

In [21]:
model3.fit(X_train, y_train)

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

In [22]:
pred3=model.predict(X_test)

In [23]:
AS(pred3,y_test)

0.8219776662890436